{ pkgs, lib, inputs, ... }:

{
  # Configure if you want Telegram (Use BotFather)
  env.TELEGRAM_BOT_TOKEN="abc1234";
  
  # Use ngrok http 4000 (or similar ssh tunnel command) and pase the url with /telegram at the end
  # This is automatically used by local tunnels in nix, but it is here
  # If you want to overwrite it
  # env.TELEGRAM_WEBHOOK="https://<url>/telegram";

  env.LC_ALL="es_CL.UTF-8";
}
